@using URL_Shortener.Models;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model EnterURLModel
@{
    Layout = "_Layout";
    ViewData["Title"] = "URL Titan";
}

<script src='@Url.Content("~/Scripts/jquery-1.8.2.js")' type='text/javascript'></script>
<script src='@Url.Content("~/Scripts/jquery.validate.js")' type='text/javascript'></script>
<script src='@Url.Content("~/Scripts/jquery.validate.unobtrusive.js")' type='text/javascript'></script>

<script src="~/js/SetActiveNavLink.js">SetActiveNav("Home")</script>

<h3 class="card-text p-3 text-light text-center"><br />An efficient, simple way to enhance your links and make them more clickable!</h3>

<div class="container align-content-center mt-5">
    <div class="col-md-12 text-center">
        <form asp-controller="url" asp-action="uploadurl" method="post">
            <div class="form-group">
                <label for="form_message" class="text-light p-3">Please input your URL beneath:</label>
                <textarea asp-for=UrlData.BaseURL id="form_message" name="BaseURL" class="form-control" placeholder="Your URL here" rows="4" style="resize:none"></textarea>
                <span asp-validation-for=UrlData.BaseURL>aSDasd </span>
                <button class="btn btn-primary m-md-4">Get Shortened URL!</button>
            </div>
        </form>
    </div>
    <br />
</div>



<div class="container align-content-center mt-3">
    <div class="col-md-12 text-center">
        <h3 class="text-light pb-2">Your Previous 5 URL's</h3>
        <table class="table table-primary table-striped table-bordered table-hover table-sm">
            @if (Model.UserUrls.Count() > 0)
            {
                <thead>
                    <tr>
                        <th scope="col">Shortened URL</th>
                        <th scope="col">Full URL</th>
                        <th scope="col" style="width:25%; text-align:right"><a asp-controller="url" asp-action="url-list">See Full List</a></th>
                    </tr>
                </thead>
                @foreach (URL url in Model.UserUrls.Reverse())
                {
                    <tr>
                        <td>@(Model.HostName + url.ShortenedIdentifier)</td>
                        <td>@url.BaseURL</td>

                        @using (Html.BeginForm("DeleteURL", "url"))
                        {
                            @Html.AntiForgeryToken();

                            @Html.Hidden("shortenedID", url.ShortenedIdentifier) <!--Passing a shortenedID parameter to the controller-->
                            @Html.Hidden("pageType", "IndexList") <!--Passing a pageType parameter to the controller-->

                            <td><span><button name="shortenedID" id="btnSubmit" type="submit" class="btn btn-outline-primary">Delete</button></span></td>
                        }
                    </tr>
                }
            }
            else
            {
                <h4 class="pt-3 text-primary">⠀No URL's Shortened 😢</h4>
            }
        </table>
    </div>
</div>


<div class="container">
    <div class="col-md-12 text-center">
        <h3 class="mt-5 pt-5 text-light">Information!</h3>
        <div class=" bg-secondary pb-3 col-md-12" style="border-radius:0.5em">
            <div class="container-sm text-center mt-3 pt-lg-4">
                <div class="text-body">
                    <h2 style="font-size:35px">
                        What is a 'URL shortener'?
                        <small class="text-muted text-black-50" style="font-size: 23px">- And why are they so important?</small>
                    </h2>
                    <p style="font-size:20px">
                        <br />A URL shortener is a way of condensing a long and obtrusive URL into a small, easy to share URL. It replaces long, ugly URL's with a small and neat URL that is memorable and easily recognisable. Having a shortened URL is important as it allows for a much greater ease of access, meaning that more people will share and click it than ever before.'
                    </p>
                </div>
            </div>
        </div>
        <div class="mt-5 bg-secondary col-md-12" style="border-radius:0.5em">
            <div class="container-sm text-center mt-2 pt-lg-4">
                <div class="text-body">
                    <h2 style="font-size:35px">
                        Why use a URL shortener?
                    </h2>
                    <p class="pb-4" style="font-size:20px">
                        <br />Using a URL shortener allows for greater clarity in your links and also allows for ease of access. This ease of access gained by using a URL shortener hugely increases your efficiency when accessing links and saves time for anyone using the link.
                    </p>
                </div>
            </div>
        </div>
        <div class="my-5 bg-secondary col-md-12" style="border-radius:0.5em">
            <div class="container-sm text-center mt-2 pt-lg-4">
                <div class="text-body">
                    <h2 style="font-size:35px">
                        When to use a URL shortener?
                    </h2>
                    <p class="pb-4" style="font-size:20px">
                        <br />Using a URL shortener for your links should become a staple in your lifestyle, ideally most of the links you save / share should be compact. This not only helps you, it also helps your friend by not having to enter such long and obtrusive links.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>


